<div class="container bg-secondary-subtle">
    <br>
    <br>
    <h1>Game Play History Records</h1>
    <!-- clear history button -->
    <button id="button-clear-history" class="btn btn-outline-danger">Clear History</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Bet</th>
                <th>Won</th>
                <th>Balance</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <br>
</div>